# Python virtual environments
venv*
venv2
venv_py2
venv_py3
win_venv
win_venv_storage
win_venv_test_storage
ubuntu_venv
storage_ubuntu_venv
status_ubuntu_venv

# Test-related
src/storage/test

# Related cloned repositories
apbs-pdb2pqr
antd_pdb2pqr

# VS Code-created directories/files
.vscode
.devcontainer
__pycache__

# Node modules created from npm
node_modules

# React frontend build directories
PDB2PQR_web/build

# PDB2PQR build directories
pdb2pqr
pdb2pqr_build
PDB2PQR_web/pdb2pqr

# Miscellaneous
testing_site
*.http
*.pyc
copied_from_build
path_for_build
docker_materials/minio_cred