# Python virtual environments
venv
venv2

# VS Code-created directories/files
.vscode
__pycache__

# Node modules created from npm
node_modules

# PDB2PQR directory
pdb2pqr
PDB2PQR_web/pdb2pqr

# testing_site
./*.pyc