# Default values for apbsrest.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

common:
  env:
    googleAnalyticsId:
    googleAnalyticsJobidIndex:
    minioAccessKey: admin
    minioSecretKey: adminadmin

ui:
  image:
    repository: electrostatics/apbs-ui
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always

viz:
  image:
    repository: electrostatics/apbs-viz-legacy
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always

task:
  image:
    repository: electrostatics/apbs-task
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always

teskproxy:
  image:
    repository: electrostatics/apbs-tesk-proxy
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always
  env:
    workloadPullPolicy: Always
    apbsExecMemoryLimit: 8192Mi
    apbsUploadMemoryLimit: 8192Mi
    pdb2pqrExecMemoryLimit: 512Mi
    pdb2pqrUploadMemoryLimit: 1024Mi
    apbsExecImageRepo: electrostatics/apbs-bin
    apbsExecImageTag: "3.0"
    pdb2pqrExecImageRepo: electrostatics/pdb2pqr-bin
    pdb2pqrExecImageTag:  latest
    downloaderImageRepo: electrostatics/apbs-downloader
    downloaderImageTag:  0.3.1
    uploaderImageRepo: electrostatics/apbs-uploader
    uploaderImageTag:  0.3.1
    # volcanoNamespace: apbs-jobs


autofill:
  image:
    repository: electrostatics/apbs-autofill
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always

id:
  image:
    repository: electrostatics/apbs-uid
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always

storage:
  image:
    repository: electrostatics/apbs-storage
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always
  env:
    minioJobBucketName: jobs

workflow:
  image:
    repository: electrostatics/apbs-workflow
    tag: 0.3.1
    #pullPolicy: IfNotPresent
    pullPolicy: Always

minio:
  image:
    repository: minio/minio
    tag: RELEASE.2020-04-04T05-39-31Z
    pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    # Hostname specified here is flexible. Using below as default
    # If deploying on a website, replace the below with your domain name
    - apbs.localhost
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
